html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-size: 1.1em;
    font-family: 'Neucha', cursive;
    background-size: auto;
    background-repeat: repeat;
    background-position: center top;
    background-image: url("../images/background/background.webp")
}

h1 {
    margin: 0;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

h2 {
    font-size: 1.5em;
    margin: 0.2em 0;
    font-weight: bold;
}

/*TODO: rework = remove h3*/
h3 {
    font-size: 1.17em;
    margin: 1em 0;
    font-weight: bold;
}

footer {
    color: $footerColor;
    background-color: $secondaryBackgroundColor;
}

/* Layout styles */
#main_area_upper {
    background-color: $mainUpperBackgroundColor;
}

/* Splitters */
.single-horizontal-splitter {
    margin: 15px 0 10px 0;
    border-top: 2px dotted $secondaryBackgroundColor;
}

.include-right-splitter {
    border-right: 2px dotted $secondaryBackgroundColor;
}

/* Navigation bar styling */
.navbar {
    padding: 0;
}

.navbar-brand>img {
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: baseline;
}

.logo-text {
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
}

.header-right-panel {
    margin-left: auto !important;
}

.header-list {
    margin: 0;
    padding: 0;
    font-size: 1.3em;
    list-style-type: none;
}

.header-list>li {
    display: inline-block;
}

.header-list>li>a {
    color: $secondaryBackgroundColor;
    text-decoration: none;
}

.header-list>li>a:hover:not(.active) {
    color: $navBarNonActiveLink;
}

.header-list>li>a.active {
    color: $navBarActiveLink;
}

#header-contact-info-splitter {
    width: 2px;
    height: 10px;
    padding-left: 10px;
    margin-right: 10px;
    border-right: 2px dotted $secondaryBackgroundColor;
}

/* Main banner styling */
.main-banner-container {
    width: 100%;
    margin-top: 7px;
    margin-bottom: 7px;
    border-top: 2px dotted $secondaryBackgroundColor;
    border-bottom: 2px dotted $secondaryBackgroundColor;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

/* Carousel styling */
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 5px;
    left: 15%;
    z-index: 10;
    padding-top: 0px;
    padding-bottom: 0px;
    color: $carouselInnerTextColor;
    text-align: center;
    line-height: 0px;
    border-radius: 10px;
    background-color: $carouselInnerTextBackgroundColor;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* Carpark area styling */
.carpark-container {
    margin: 15px;
}

.carpark-img-container {
    float: left;
    margin-top: 10px;
}

.carpark-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    float: left;
    box-shadow: 10px 5px 7px grey;
}

.carpark-description {
    margin-left: 150px;
}

.carpark-item-table th,
td {
    padding-left: 3px;
    padding-top: 3px;
    padding-right: 7px;
    white-space: nowrap;
}

.carpark-item-title {
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}