$secondaryBackgroundColor: rgb(225, 83, 60);

$navBarActiveLink: rgb(0,0,0);
$navBarNonActiveLink: rgb(75,75,75);

$mainUpperBackgroundColor: rgb(245, 245, 245);

$carouselInnerTextColor: rgb(255,255,255);
$carouselInnerTextBackgroundColor: rgba(0, 0, 0, 0.25);

$footerColor: rgb(255, 255, 255);