/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 375.98px) {

    /* Navigation bar styling overrides */
    .navbar {
        padding: 0px;
    }

    .header-list {
        font-size: 0.9em;
        text-align: center;
    }

    .navbar-brand img {
        width: 45px;
        height: 45px;
    }

    .main-banner-container {
        font-size: 1.3em;
    }

    .carousel-item img {
        width: 270px;
    }

    .carpark-img {
        width: 80px;
        height: 80px;
    }

    .carpark-description {
        margin-left: 100px;
        font-size: 0.8em;
    }

    footer {
        font-size: 0.8em;
    }
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (min-width: 376px) and (max-width: 475.98px) {

    /* Navigation bar styling overrides */
    .navbar {
        padding: 0px;
    }

    .header-list {
        font-size: 1em;
        text-align: center;
    }

    .navbar-brand img {
        width: 50px;
        height: 50px;
    }

    .main-banner-container {
        font-size: 1.3em;
    }

    .carpark-img {
        width: 100px;
        height: 100px;
    }

    .carpark-description {
        margin-left: 120px;
    }
}